#include <windows.h>
#include "winver.h"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       0x1L
#else
FILEFLAGS       0x0L
#endif
FILEOS          0x4L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"  // Bahasa: English (US)
        BEGIN
            VALUE "CompanyName", "WHO-AM-I-404"
            VALUE "FileDescription", "Broken Executable "
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "broken.exe"
            VALUE "LegalCopyright", "© 2025 WHO-AM-I-404"
            VALUE "OriginalFilename", "broken.exe"
            VALUE "ProductName", "Broken"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
